{% extends 'layout.html' %}

{% block content %}
<section class="container my-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if current_page > 1 %}
            <li class="page-item"><a class="page-link" href="/?page={{current_page - 1}}">Previous</a></li>
          {% endif %}
          {% for page in range(product_page) %}
            <li class="page-item"><a class="page-link" href="/?page={{page + 1}}">{{ page + 1 }}</a></li>
          {% endfor %}
          {% if current_page < product_page %}
            <li class="page-item"><a class="page-link" href="/?page={{current_page + 1}}">Next</a></li>
          {% endif %}

      </ul>
    </nav>
    <div class="row gap-3">
        {% for p in products %}
        <div class="col-md-3 col-sm-2 pt-4 pb-2 card" style="width: 18rem;">
            <img src="{{ p.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.price }}</p>
                <a href="/products/{{ p.id }}" class="btn btn-primary">Xem thêm</a>
                <a href="javascript:;" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})" class="btn btn-danger">Mua</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script src="{{ url_for('static', filename='js/cart.js') }}"></script>

{% endblock %}


